/* -------------------------------------------------- main styles -------------------------------------------------- */

body {
    background: GhostWhite;
}

#contents {
    padding: 1em;
}

.residents, .pilots, .starships, .vehicles {
    text-align: center;
}