<!doctype html>
<html lang="en">
<head>
    <!-- Bootstrap: required meta tags and CSS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>{% block page_title %}{% endblock %} | API Wars</title>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow">
        <div class="navbar-brand">API Wars</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Planets list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Voting statistics</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                        User not logged in
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item disabled" href="#">Sign in</a>
                        <a class="dropdown-item disabled" href="#">Sign out</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled" href="#">Register</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main page contents -->
    <div id="contents">
        <!-- Header page -->
        <h1>{{ self.page_title() }}</h1>
        <!-- Contents -->
        {% block contents %}{% endblock %}
    </div>

    <!-- Bootstrap: required javascripts -->
    <script src="{{ url_for('static', filename='bootstrap/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
</body>
</html>
