{% extends "base.html" %}
{% block page_title %}Star Wars {{ subjectName }} list{% endblock %}
{% block contents %}
    <!-- Subject data table -->
    <table class="table table-bordered table-striped">
        <!-- Header names -->
        <thead class="table-dark">
            <tr>
                {% for name in columnNames %}
                    <th>{{ name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <!-- Subject data -->
        <tbody>
            {% for item in subjectData %}
                <tr>
                    {% for key, value in item.items() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
